# Configurações do Cluster
cluster_name = "fixit-local"
namespace    = "fixit"

# Configurações da Aplicação
app_image    = "ghcr.io/arch-software-fiap/fixit-backend:latest"
app_replicas = 1

# Configurações do PostgreSQL
postgres_user     = "fixitbackend"
postgres_password = "fixitbackend"
postgres_db       = "fixitbackend"

# Configurações do Keycloak
keycloak_admin_user     = "admin"
keycloak_admin_password = "admin"

# Configurações de Log
logging_level = "INFO"

# Configurações do serviço externo de autenticação
fixit_external_auth_shared_secret = "seu-segredo-compartilhado"
fixit_gateway_lambda_url          = "https://sua-url-do-servico-auth"

# Configurações do GitHub Container Registry
ghcr_username = "seu-usuario-github"
ghcr_token    = "seu-token-github"
