.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars
!*.tfvars.example
!environments/*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json